@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=Oswald:wght@700&family=Roboto:wght@300&display=swap");

/* Cor de fundo do site */

.BackgroundInicial {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 102, 196, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
}

/* Seção Cabeçalho */

.secao_cabecalho {
  width: 100%;
  padding: 0px 80px;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Seção Principal */

.main {
  width: 100%;
  padding: 0 80px;
}

.secao_principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo_principal {
  font-size: 4rem;
  font-family: sans-serif;
  color: white;
}

.subtitulo_principal {
  font-size: 1rem;
  font-family: sans-serif;
  color: #1b3061;
  margin-top: 0.8rem;
  line-height: 1.5rem;
}

.newsletter {
  margin-top: 0.8rem;
}

.email_principal {
  width: 280px;
  height: 30px;
  border-radius: 4px;
  border: none;
}

.button_newsletter {
  margin-top: 0.8rem;
  background-color: transparent;
}

.titulo_button {
}
