@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=Oswald:wght@700&family=Roboto:wght@300&display=swap");

.initialBackground {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 102, 196, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
}

.header_class {
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.secao_cabecalho {
  display: flex;
  flex-direction: row;
  padding: 28px;
  gap: 500px;
}

.menu_navegacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
  font-family: Poppins;
  text-align: center;
  margin-left: 20px;
}

.aba_navegacao {
  background-color: transparent;
  transition: 0.4s;
  padding: 10px 12px;
  border-radius: 10px;
}

.aba_navegacao:hover {
  background-color: aliceblue;
}

.section_principal {
  display: flex;
  flex-direction: row;
}

.divisao_principal {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.div_principal {
  display: flex;
  flex-direction: column;
}

.titulo_principal {
  font-family: Libre Franklin;
  font-size: 58px;
  line-height: 82px;
  color: aliceblue;
  margin-top: 42px;
  margin-left: 52px;
}

.subtitulo_principal {
  font-family: Libre Franklin;
  font-size: 18px;
  font-weight: 32px;
  color: #1b3061;
  margin-top: 8px;
  margin-left: 52px;
  line-height: 32px;
}

.newsletter {
  margin-top: 22px;
  margin-left: 52px;
}

.botao_email {
  height: 42px;
  width: 252px;
  font-family: Libre Franklin;
  font-size: 16px;
  color: gray;
  border: 0;
  border-radius: 4px;
  padding: te;
}

.botao_email::-webkit-input-placeholder {
  color: #1b3061;
  padding-left: 10px;
}
.botao_email::-webkit-input-placeholder {
  color: #1b3061;
  padding-left: 10px;
}

.button_newsletter {
  font-family: Libre Franklin;
  font-size: 16px;
  color: floralwhite;
  border: none;
  background-color: transparent;
  margin-top: 12px;
  cursor: pointer;
  padding: 8px;
}

.imagem_crianca {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin-top: -60px;
}
